body {
    color: #A52A2A;
    font: 15px 'Kurale', serif;
    background-color: #FFFACD;

}

aside {
    float: left;
    width: 200px;
    height: 200px;
}
section {
    margin-left: 200px;
    padding-bottom: 50px;
}

table {
    background-color: #F5F5DC;
    color: #A52A2A;
    position: relative;
    left: 35%;
    margin-top: 5%;
}

button{
    color: #A52A2A;
    background-color: #F5F5DC;
    border: 2px solid #A52A2A;
    height: 41px;
    font: 20px 'Kurale', serif;
    font-family: 'Kurale', serif;
}

img[id="logo"]{
    width: 30%;
    height: 15%;
}

#wrapper {
    max-width: 960px;
    margin: auto;
    padding-bottom: 1%;
}

header {
    padding: 20px 0;
}


section {
    padding-bottom: 30px;
}


.block
{
    position: relative;
    width: 40%;
}

.block2
{
    position: relative;
    width: 40%;
    margin-top: 8%;
}

input {
    width: 200px;
    margin: 0px 0px 5px 5px;
}

input[type="submit"]
{
    background-color: #F5F5DC;
    border: 2px solid #A52A2A;
    color: #A52A2A;
    width: 220px;
    font: 15px 'Kurale', serif;
    margin-top: 5%;
    margin-bottom: 5%;
}

input[type="button"]
{
    background-color: #F5F5DC;
    border: 2px solid #A52A2A;
    color: #A52A2A;
    width: 220px;
    font: 15px 'Kurale', serif;
}

input[type="text"]
{
    background-color: #F5F5DC;
    border: 2px solid #A52A2A;
    color: #A52A2A;
    width: 220px;
    font: 15px 'Kurale', serif;
}



form {
    float: right;
}

nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font: 20px 'Kurale', serif;
}

nav li :hover{
    color: #FA8072;
    text-decoration: underline;

}

.top-menu li {
    display: inline-block;
    padding: 5px;
}


.top-menu a {
    color: #A52A2A;
}


footer {
    background: #A52A2A;
    color: #F5F5DC;
    font-size: 14px;
    margin-top: 11%;
}

#footer {
    max-width: 960px;
    margin: auto;
    padding: 10px 0;
    height: 90px;
}

footer a {
    color: #F5F5DC;
}

#sitemap {
    margin-top:-15px;
    width: 250px;
    float: left;
}

#sitemap div {
    margin-top: -5px;
    display: inline-block;
    padding-right: 15px;
}

#sitemap a {
    display: block;
    text-decoration: none;
    margin-bottom: 2px;

}


#sitemap a:hover {
    text-decoration: underline;
}


#contact {
    margin-top:-15px;
    width: 380px;
    float: right;
}

#contact p {
    margin-bottom: -19px;
    text-align:right;

}

#contact h3{
    text-align:right;
    margin-bottom: -10px;
}

html
{
    overflow-x: hidden;
}


@media only screen and (max-width: 500px) {
    nav li, button {
        font: 15px 'Kurale', serif;
    }
}